#image1{
    height: 50px;
    width: 50px;
}
body{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    text-align:center;
}
#button2{
    float: right;
    background-color: rgb(247, 0, 0);
    font-size: medium;
}
#button3{
    font-size:medium;
    background-color:greenyellow

}
#output{
    border: 2px salmon solid;
    background-color: aqua;
    height: 100%;
    width: 90%; 
}
